<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GenPlan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <GenPlan.Properties.Settings>
      <setting name="LastWorkingPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DonationLink" serializeAs="String">
        <value>https://www.paypal.me/matthieubadoy</value>
      </setting>
      <setting name="MUpdateAppID" serializeAs="String">
        <value>GenPlan</value>
      </setting>
      <setting name="MUpdateXmlFileLink" serializeAs="String">
        <value>https://dl.dropbox.com/s/8ths46fmo2ds7in/update.xml?dl=0</value>
      </setting>
    </GenPlan.Properties.Settings>
  </userSettings>
</configuration>